

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
        {% comment %} <h2 class="title title-wrapper--no-top-margin">{{ section.settings.heading | escape }}</h2> {% endcomment %}


        <script type="text/javascript" src="https://form.jotform.com/jsform/220988859192070"></script>

    </div>
</div>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    let statusCircle1 = document.getElementById('js_statusCircle1');
    let statusCircle2 = document.getElementById('js_statusCircle2');
    let statusCircle3 = document.getElementById('js_statusCircle3');

    let inputSect = document.querySelector('.js_input');
    const confirmSect = document.querySelector('.js_confirm');

    const inputName = document.getElementById('ContactForm-name');
    const inputFamilyName = document.getElementById('ContactForm-familyName');
    const inputGivenName = document.getElementById('ContactForm-givenName');
    const inputCompany = document.getElementById('ContactForm-company');
    const inputEmail = document.getElementById('ContactForm-email');
    const inputPhone = document.getElementById('ContactForm-phone');
    const inputBody = document.getElementById('ContactForm-body');

    const confirmName = document.getElementById('js_confirmName');
    const confirmCompany = document.getElementById('js_confirmCompany');
    const confirmEmail = document.getElementById('js_confirmEmail');
    const confirmPhone = document.getElementById('js_confirmPhone');
    const confirmBody = document.getElementById('js_confirmBody');

    const btnConfirm = document.getElementById('js_formBtn__confirm');
    const btnBack = document.getElementById('js_formBtn__back');
    const btnSubmit = document.getElementById('js_formBtn__submit');

    const validate = document.querySelectorAll('.js_validate');
    const validate1_1 = document.getElementById('js_validate1-1');
    const validate2_1 = document.getElementById('js_validate2-1');
    const validate3_1 = document.getElementById('js_validate3-1');
    const validate3_2 = document.getElementById('js_validate3-2');
    const validate3_3 = document.getElementById('js_validate3-3');
    const validate4_1 = document.getElementById('js_validate4-1');
    const validate4_2 = document.getElementById('js_validate4-2');
    const validate4_3 = document.getElementById('js_validate4-3');
    const validate5_1 = document.getElementById('js_validate5-1');

    btnConfirm.addEventListener('click', validater)
    btnBack.addEventListener('click', backToInput);

    // エンターによる送信を無効化

    function validater() {
        for(let i=0; i<validate.length; i++){
            validate[i].classList.remove('js_validate__active');
        }
        let confirmFlag = [];

        // validation blank
        if(inputFamilyName.value === '' || inputGivenName.value === '' ){
            validate1_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }

        // validation email
        if(inputEmail.value === ''){
            validate3_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        } else if(!(inputEmail.value.match(/[^A-Za-z0-9]+/))){
            validate3_2.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputEmail.value.indexOf('@')!==-1)){
            validate3_3.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputEmail.value.match(/^[A-Za-z0-9]{1}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-]{1,}.[A-Za-z0-9]{1,}$/))){
            validate3_4.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }

        // validation phone
        if(inputPhone.value === ''){
            validate4_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputPhone.value.match(/^[0-9]+$/))){
            validate4_2.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputPhone.value.match(/^[0-9]{11}$/))){
            validate4_3.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }

        // validation message
        if(inputBody.value === ''){
            validate5_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }
        console.log(confirmFlag);
        if(!(confirmFlag.includes(false))){
            inputName.value = inputFamilyName.value + ' ' + inputGivenName.value;

            inputSect.classList.remove('js_input__active');
            confirmSect.classList.add('js_confirm__active');

            statusCircle1.classList.remove('js_statusCircle__orange');
            statusCircle2.classList.add('js_statusCircle__orange');

            confirmName.innerText = inputName.value;
            confirmCompany.innerText = inputCompany.value;
            confirmEmail.innerText = inputEmail.value;
            confirmPhone.innerText = inputPhone.value;
            confirmBody.innerText = inputBody.value;

            const response = `
                【トラデポ】お問い合わせありがとうございます。
                ———————————————————————-
                ※このメールはシステムからの自動返信です。
                このメールに対して返信できません。
                ———————————————————————-
                ${inputName.value}　様
                この度はトラデポより、お問い合わせ頂き誠にありがとうございます。
                以下の内容でお問い合わせを受付いたしました。
                お送りいただきました内容を確認の上、数営業日以内に折り返しご連絡させていただきます。
                ━━━ お問い合わせ内容 ━━━━━━━━━━━━━━━━━━━
                ◆氏名
                ${inputName.value}
                ◆会社名
                ${inputCompany.value}
                ◆メールアドレス
                ${inputEmail.value}
                ◆お問い合わせ内容
                ${inputBody.value}
                ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                この度はトラデポをご利用いただきまして誠にありがとうございます。
                今後ともトラデポをよろしくお願いいたします。
                ※本メールに心当たりのない場合や、ご不明な点がございましたら、
                下記までご連絡くださいますようお願いいたします。
                ———————————————————————
                ショップ名 ：【トラデポ　トラック用品の激安専門店】
                ショップURL：https://●●●●.co.jp/
                電話：0120-441-723
                メールアドレス：△△@△△.co.jp
                ———————————————————————`

            console.log(response);
        }
    }


    function backToInput() {
        inputSect.classList.add('js_input__active');
        confirmSect.classList.remove('js_cofirm__active');

        statusCircle1.classList.add('js_statusCircle__orange');
        statusCircle2.classList.remove('js_statusCircle__orange');
    }
    function submitComplete() {
        statusCircle2.classList.remove('js_statusCircle__orange');
        statusCircle3.classList.add('js_statusCircle__orange');
    }


    // 自動応答
    btnSubmit.addEventListener('click', function(){
        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "h-satou@teamwolf.co.jp",
            Password : "DFDD73E9E7C9B722865732F83BC6A2F0740C",
            To : inputEmail.value,
            From : "h-satou@teamwolf.co.jp",
            Subject : "test件名",
            Body : `
                【トラデポ】お問い合わせありがとうございます。<br>
                ———————————————————————-<br>
                ※このメールはシステムからの自動返信です。<br>
                このメールに対して返信できません。<br>
                ———————————————————————-<br>
                ${inputName.value}　様<br>
                この度はトラデポより、お問い合わせ頂き誠にありがとうございます。<br>
                以下の内容でお問い合わせを受付いたしました。<br>
                お送りいただきました内容を確認の上、数営業日以内に折り返しご連絡させていただきます。<br>
                ━━━ お問い合わせ内容 ━━━━━━━━━━━━━━━━━━━<br>
                ◆氏名<br>
                ${inputName.value}<br>
                ◆会社名<br>
                ${inputCompany.value}<br>
                ◆メールアドレス<br>
                ${inputEmail.value}<br>
                ◆お問い合わせ内容<br>
                ${inputBody.value}<br>
                ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
                この度はトラデポをご利用いただきまして誠にありがとうございます。<br>
                今後ともトラデポをよろしくお願いいたします。<br>
                ※本メールに心当たりのない場合や、ご不明な点がございましたら、<br>
                下記までご連絡くださいますようお願いいたします。<br>
                ———————————————————————<br>
                ショップ名 ：【トラデポ　トラック用品の激安専門店】<br>
                ショップURL：https://●●●●.co.jp/<br>
                電話：0120-441-723<br>
                メールアドレス：△△@△△.co.jp<br>
                ———————————————————————`

        }).then(
            message=>{
                //alert(message);
            }
        );
    });
</script>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
