

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {% comment %} <h2 class="title title-wrapper--no-top-margin">{{ section.settings.heading | escape }}</h2> {% endcomment %}
    <div class="ly_statusCnt">
        <div class=ly_status>
            <div id="js_statusCircle1" class="js_statusCircle js_statusCircle__orange">1</div>
            <span>お客様情報の入力</span>
        </div>
        <div class=ly_status>
            <div id="js_statusCircle2" class="js_statusCircle">2</div>
            <span>入力内容のご確認</span>
        </div>
        <div class=ly_status>
            <div id="js_statusCircle3" class="js_statusCircle">3</div>
            <span>送信完了</span>
        </div>
    </div>


    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
        {%- if form.errors -%}
            <p>送信時に問題が発生しました。入力内容をご確認のうえ、再度お試しください。</p>
        {%- endif -%}
        <section class="ly_input js_input js_input__active">
            <h2 class="el_lv2heading">見積書または請求書のどちらをご希望がお選びください</h2>
            <div class="ly_inputForm">
                <div class="ly_fieldCnt ly_fieldCnt__docType">
                    <label><input type="radio" name="contact[ドキュメントの種類]" value="見積書">見積書</label>
                    <label><input type="radio" name="contact[ドキュメントの種類]" value="請求書">請求書</label>
                </div>
            </div>
            <h2 class="el_lv2heading">見積書または請求書のどちらをご希望がお選びください</h2>
            <div class="ly_inputForm">
                <div class="ly_fieldCnt ly_fieldCnt__company">
                    <div class="el_fieldTtl"><span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <label for="ContactForm-company">会社名/屋号</label>
                        <input type="hidden" name="contact[会社名/屋号]" id="ContactForm-company">
                    </div>
                    <div>
                        <input type="text" id="ContactForm-Company" value="" placeholder="" required>
                    </div>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__name">
                    <div class="el_fieldTtl"><span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <label for="ContactForm-company">お名前/ご担当者名</label>
                        <input type="hidden" name="contact[お名前/ご担当者名]" id="ContactForm-name">
                    </div>
                    <div>
                        <input autocomplete="name" type="text" id="ContactForm-Name" value="{% if form.last_name %}{{ form.first_name }} {{ form.last_name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="" required>
                        <p id="js_validate1-1" class="el_validate js_validate">※お名前/ご担当者名を入力してください</p>                
                    </div>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__phone">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__any">任意</span>
                        <p>
                            <label for="ContactForm-phone">電話番号</label>
                            <span class="el_supplement">営業電話はいたしません</span>
                        </p>
                    </div>
                    <input type="tel" name="contact[電話番号]" id="ContactForm-phone" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="例）0312345678">
                    <p id="js_validate4-1" class="el_validate js_validate">※電話番号を入力してください</p>
                    <p id="js_validate4-2" class="el_validate js_validate">※半角数字で入力してください</p>
                    <p id="js_validate4-3" class="el_validate js_validate">※桁数が適切ではありません。</p>
                </div>
                <div class="field--with-error ly_fieldCnt ly_fieldCnt__email">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <label for="ContactForm-email">メールアドレス</label>
                    </div>
                    <div>
                        <input
                            autocomplete="email"
                            type="email"
                            id="ContactForm-email"
                            name="contact[email]"
                            spellcheck="false"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            aria-required="true"
                            {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="ContactForm-email-error"
                            {% endif %}
                            placeholder="例）example@toradepo.com"
                            required
                        >
                        <p id="js_validate3-1" class="el_validate js_validate">※メールアドレスを入力してください</p>
                        <p id="js_validate3-2" class="el_validate js_validate">※半角英数字で入力してください</p>
                        <p id="js_validate3-3" class="el_validate js_validate">※「@」が含まれておりません。</p>                
                        <p id="js_validate3-4" class="el_validate js_validate">※メールアドレスが適切ではありません。</p>                
                    </div>
                {%- if form.errors contains 'email' -%}
                    <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                    </small>
                {%- endif -%}
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__prefecture">
                    <div class="el_fieldTtl"><span class="el_fieldTtl_annotate el_fieldTtl_annotate__any">任意</span>
                        <label for="ContactForm-prefecture">納品先の都道府県</label>
                    </div>
                    <select name="contact[納品先の都道府県]" id="ContactForm-prefecture">
                        <option value="" selected>▼  選択してください</option>
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option>
                        <option value="福島県">福島県</option>
                        <option value="茨城県">茨城県</option>
                        <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="埼玉県">埼玉県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option>                      
                    </select>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__payment">
                    <fieldset>
                        <div class="el_fieldTtl">
                            <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                            <legend>ご希望の決済方法</legend>
                        </div>
                        <label><input type="radio" name="contact[ご希望の決済方法]" id="ContactForm-payment1" value="銀行振り込み">銀行振り込み</label>
                        <label><input type="radio" name="contact[ご希望の決済方法]" id="ContactForm-payment2" value="クレジットカード決済">クレジットカード決済</label>
                        <p id="js_validate4-1" class="el_validate js_validate">※電話番号を入力してください</p>
                        <p id="js_validate4-2" class="el_validate js_validate">※半角数字で入力してください</p>
                        <p id="js_validate4-3" class="el_validate js_validate">※桁数が適切ではありません。</p>
                    </fieldset>
                </div>

                <div class="ly_fieldCnt ly_fieldCnt__msg">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <p>
                            <label for="ContactForm-body">お見積り・発注内容・ご質問</label>
                            <span class="el_supplement">担当者より返信いたします</span>
                        </p>
                    </div>
                    <div>
                        <textarea
                        rows="5"
                        id="ContactForm-body"
                        class="text-area"
                        name="contact[{{ 'templates.contact.form.comment' | t }}]"
                        placeholder=""
                        required
                        >
                        {{- form.body -}}
                        </textarea>
                        <p class="el_supplement">ご検討中の商品がございましたら品番もご記入ください</p>
                        <p id="js_validate5-1" class="el_validate js_validate">※お問い合わせ内容を入力してください</p>                
                    </div>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__attachment">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__any">任意</span>
                        <label for="ContactForm-attachment">ファイル添付</span></label>
                    </div>
                    <div class="ly_fileOperation">
                        <div id="js_fileAttachment" class="ly_fileAttachment">
                            <div class="ly_fileAttachment_imgCnt">
                                <img src="">
                            </div>
                            <div class="ly_fileAttachment_txtCnt">
                                <p>ここにファイルをドラッグ</p>
                                <p>または<span>ファイルを選択</span></p>
                            </div>
                        </div>
                        <div id="js_fileDisplay"></div>
                        <p class="el_supplement">
                            1ファイル最大10MB、5ファイルまで送信できます。<br>
                            容量または枚数を超える場合は、お手数ですが下記のメールアドレスまで直接お送りください。<br>
                            ◯◯◯◯◯@toradepo.com
                        </p>                   
                    </div>
                </div>
            </div>
            <div class="ly_deadline">
                <h3>納期について</h3>
                <ul>
                    <li>お急ぎの場合は備考欄にご希望の納品日を誤入力のうえ担当者にご相談ください。なお、お問い合わせの状況によってはご対応が難しい場合もございます。</li>
                    <li>混雑期（年末年始、年度末、長期休業前後など）は通常よりもお届けまでにお時間を頂戴いたします。</li>
                    <li>ご発注の際は、余裕を持ったスケジュールにてご依頼いただきますようお願いいたします。</li>
                    <li>オーダー品は、原則返品・交換不可となります。ご発注前のサイズ確認や不明点など、お気軽にお問い合わせください。</li>
                </ul>            
            </div>
            <div class="ly_formBtnCnt">
                <button type="button" id="js_formBtn__confirm" class="bl_formBtn bl_formBtn__confirm">
                    <img src="{{ 'footb_btn.png' | file_img_url }}">
                    確認画面へ
                </button>
            </div>
        </section>

        {% comment %} 確認画面へ {% endcomment %}
        <section class="ly_confirm js_confirm">
            <h2 class="el_lv2heading">見積書または請求書のどちらをご希望がお選びください</h2>
            <p id="js_confirmDocType"></p>
            <h2 class="el_lv2heading">見積書または請求書のどちらをご希望がお選びください</h2>
            <div class="ly_confirmForm">
                <div class="ly_fieldCnt ly_fieldCnt__company">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <span class="el_confirmLabel">会社名/屋号</span>
                    </div>
                    <span id="js_confirmCompany"></span>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__name">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__any">任意</span>
                        <span class="el_confirmName">お名前/ご担当者名</span>
                    </div>
                    <span id="js_confirmName"></span>
                </div>
                <div class="field--with-error ly_fieldCnt ly_fieldCnt__phone">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__any">任意</span>
                        <span class="el_confirmLabel">電話番号</span>
                    </div>
                    <span id="js_confirmPhone"></span>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__email">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <span class="el_confirmLabel">メールアドレス</span>
                    </div>
                    <span id="js_confirmEmail"></span>
                </div>
                <div class="ly_fieldCnt ly_fieldCnt__prefecture">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <span class="el_confirmLabel">納品先の都道府県</span>
                    </div>
                    <p id="js_confirmPrefecture"></p>
                </div>        
                <div class="ly_fieldCnt ly_fieldCnt__payment">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <span class="el_confirmLabel">ご希望の決済方法</span>
                    </div>
                    <p id="js_confirmPayment"></p>
                </div>        
                <div class="ly_fieldCnt ly_fieldCnt__body">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__must">必須</span>
                        <span class="el_confirmLabel">お見積り・発注内容・ご質問</span>
                    </div>
                    <p id="js_confirmBody"></p>
                </div>        
                <div class="ly_fieldCnt ly_fieldCnt__attachment">
                    <div class="el_fieldTtl">
                        <span class="el_fieldTtl_annotate el_fieldTtl_annotate__any">任意</span>
                        <span class="el_confirmLabel">ファイル添付</span>
                    </div>
                    <p id="js_confirmAttachment"></p>
                </div>        
            </div>
            <div class="ly_formBtnCnt ly_formBtnCnt__confirm">
                <button type="button" id="js_formBtn__back" class="bl_formBtn bl_formBtn__back">
                    <img src="{{ 'foot_btn_ind.png' | file_img_url }}">
                    入力画面に戻る
                </button>
                <button id="js_formBtn__submit" type="submit" class="button bl_formBtn bl_formBtn__submit">
                    <img src="{{ 'footb_btn.png' | file_img_url }}">
                    この内容で送信
                </button>
            </div>
        </section>
        {%- if form.posted_successfully? -%}
        <section class="js_thanks">
            <h2>お問い合わせありがとうございます。</h2>
            <p>
                このたびは、お問い合わせいただき、誠にありがとうございました。<br><br>
                お送りいただきました内容を確認の上、数営業日以内に折り返しご連絡させていただきます。<br>
                また、ご記入いただきましたメールアドレスへ、自動返信の確認メールを送付しています。<br>
                万が一、自動返信メールが届かない場合は、<br>
                入力いただいたメールアドレスに間違いがあった可能性がございます。<br>
                メールアドレスをご確認の上、もう一度フォームよりお問い合わせいただけますようお願い申し上げます。
            </p>
            <div>
                <a class="bl_homeBtn" href="{{ shop.secure_url }}">
                    {{ 'foot_btn_ind.png' | file_img_url | img_tag }}
                    TOPに戻る
                </a>            
            </div>
        </section>
        <script>
            const mainPageTtl = document.querySelector('.main-page-title');
            const rte = document.querySelector('.rte');
            let inputSect = document.querySelector('.js_input');
            let statusCircle1 = document.getElementById('js_statusCircle1');
            let statusCircle2 = document.getElementById('js_statusCircle2');
            let statusCircle3 = document.getElementById('js_statusCircle3');

            statusCircle1.classList.remove('js_statusCircle__orange');
            statusCircle2.classList.remove('js_statusCircle__orange');
            statusCircle3.classList.add('js_statusCircle__orange');

            inputSect.classList.remove('js_input__active');
            mainPageTtl.innerText = '送信完了';
            rte.remove();
            console.log('test');
        </script>
        {%- endif -%}
    {%- endform -%}
    </div>
</div>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    let statusCircle1 = document.getElementById('js_statusCircle1');
    let statusCircle2 = document.getElementById('js_statusCircle2');
    let statusCircle3 = document.getElementById('js_statusCircle3');

    let inputSect = document.querySelector('.js_input');
    const confirmSect = document.querySelector('.js_confirm');

    const inputName = document.getElementById('ContactForm-name');
    const inputFamilyName = document.getElementById('ContactForm-familyName');
    const inputGivenName = document.getElementById('ContactForm-givenName');
    const inputCompany = document.getElementById('ContactForm-company');
    const inputEmail = document.getElementById('ContactForm-email');
    const inputPhone = document.getElementById('ContactForm-phone');
    const inputBody = document.getElementById('ContactForm-body');

    const confirmName = document.getElementById('js_confirmName');
    const confirmCompany = document.getElementById('js_confirmCompany');
    const confirmEmail = document.getElementById('js_confirmEmail');
    const confirmPhone = document.getElementById('js_confirmPhone');
    const confirmBody = document.getElementById('js_confirmBody');

    const btnConfirm = document.getElementById('js_formBtn__confirm');
    const btnBack = document.getElementById('js_formBtn__back');
    const btnSubmit = document.getElementById('js_formBtn__submit');

    const validate = document.querySelectorAll('.js_validate');
    const validate1_1 = document.getElementById('js_validate1-1');
    const validate2_1 = document.getElementById('js_validate2-1');
    const validate3_1 = document.getElementById('js_validate3-1');
    const validate3_2 = document.getElementById('js_validate3-2');
    const validate3_3 = document.getElementById('js_validate3-3');
    const validate4_1 = document.getElementById('js_validate4-1');
    const validate4_2 = document.getElementById('js_validate4-2');
    const validate4_3 = document.getElementById('js_validate4-3');
    const validate5_1 = document.getElementById('js_validate5-1');

    btnConfirm.addEventListener('click', validater)
    btnBack.addEventListener('click', backToInput);

    // エンターによる送信を無効化

    function validater() {
        for(let i=0; i<validate.length; i++){
            validate[i].classList.remove('js_validate__active');
        }
        let confirmFlag = [];

        // validation blank
        if(inputFamilyName.value === '' || inputGivenName.value === '' ){
            validate1_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }

        // validation email
        if(inputEmail.value === ''){
            validate3_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        } else if(!(inputEmail.value.match(/[^A-Za-z0-9]+/))){
            validate3_2.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputEmail.value.indexOf('@')!==-1)){
            validate3_3.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputEmail.value.match(/^[A-Za-z0-9]{1}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-]{1,}.[A-Za-z0-9]{1,}$/))){
            validate3_4.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }

        // validation phone
        if(inputPhone.value === ''){
            validate4_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputPhone.value.match(/^[0-9]+$/))){
            validate4_2.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else if(!(inputPhone.value.match(/^[0-9]{11}$/))){
            validate4_3.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }

        // validation message
        if(inputBody.value === ''){
            validate5_1.classList.add('js_validate__active');
            confirmFlag.push(false);
        }else{
            confirmFlag.push(true);
        }
        console.log(confirmFlag);
        if(!(confirmFlag.includes(false))){
            inputName.value = inputFamilyName.value + ' ' + inputGivenName.value;

            inputSect.classList.remove('js_input__active');
            confirmSect.classList.add('js_confirm__active');

            statusCircle1.classList.remove('js_statusCircle__orange');
            statusCircle2.classList.add('js_statusCircle__orange');

            confirmName.innerText = inputName.value;
            confirmCompany.innerText = inputCompany.value;
            confirmEmail.innerText = inputEmail.value;
            confirmPhone.innerText = inputPhone.value;
            confirmBody.innerText = inputBody.value;

            const response = `
                【トラデポ】お問い合わせありがとうございます。
                ———————————————————————-
                ※このメールはシステムからの自動返信です。
                このメールに対して返信できません。
                ———————————————————————-
                ${inputName.value}　様
                この度はトラデポより、お問い合わせ頂き誠にありがとうございます。
                以下の内容でお問い合わせを受付いたしました。
                お送りいただきました内容を確認の上、数営業日以内に折り返しご連絡させていただきます。
                ━━━ お問い合わせ内容 ━━━━━━━━━━━━━━━━━━━
                ◆氏名
                ${inputName.value}
                ◆会社名
                ${inputCompany.value}
                ◆メールアドレス
                ${inputEmail.value}
                ◆お問い合わせ内容
                ${inputBody.value}
                ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
                この度はトラデポをご利用いただきまして誠にありがとうございます。
                今後ともトラデポをよろしくお願いいたします。
                ※本メールに心当たりのない場合や、ご不明な点がございましたら、
                下記までご連絡くださいますようお願いいたします。
                ———————————————————————
                ショップ名 ：【トラデポ　トラック用品の激安専門店】
                ショップURL：https://●●●●.co.jp/
                電話：0120-441-723
                メールアドレス：△△@△△.co.jp
                ———————————————————————`

            console.log(response);
        }
    }


    function backToInput() {
        inputSect.classList.add('js_input__active');
        confirmSect.classList.remove('js_cofirm__active');

        statusCircle1.classList.add('js_statusCircle__orange');
        statusCircle2.classList.remove('js_statusCircle__orange');
    }
    function submitComplete() {
        statusCircle2.classList.remove('js_statusCircle__orange');
        statusCircle3.classList.add('js_statusCircle__orange');
    }


    // 自動応答
    btnSubmit.addEventListener('click', function(){
        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "h-satou@teamwolf.co.jp",
            Password : "DFDD73E9E7C9B722865732F83BC6A2F0740C",
            To : inputEmail.value,
            From : "h-satou@teamwolf.co.jp",
            Subject : "test件名",
            Body : `
                【トラデポ】お問い合わせありがとうございます。<br>
                ———————————————————————-<br>
                ※このメールはシステムからの自動返信です。<br>
                このメールに対して返信できません。<br>
                ———————————————————————-<br>
                ${inputName.value}　様<br>
                この度はトラデポより、お問い合わせ頂き誠にありがとうございます。<br>
                以下の内容でお問い合わせを受付いたしました。<br>
                お送りいただきました内容を確認の上、数営業日以内に折り返しご連絡させていただきます。<br>
                ━━━ お問い合わせ内容 ━━━━━━━━━━━━━━━━━━━<br>
                ◆氏名<br>
                ${inputName.value}<br>
                ◆会社名<br>
                ${inputCompany.value}<br>
                ◆メールアドレス<br>
                ${inputEmail.value}<br>
                ◆お問い合わせ内容<br>
                ${inputBody.value}<br>
                ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
                この度はトラデポをご利用いただきまして誠にありがとうございます。<br>
                今後ともトラデポをよろしくお願いいたします。<br>
                ※本メールに心当たりのない場合や、ご不明な点がございましたら、<br>
                下記までご連絡くださいますようお願いいたします。<br>
                ———————————————————————<br>
                ショップ名 ：【トラデポ　トラック用品の激安専門店】<br>
                ショップURL：https://●●●●.co.jp/<br>
                電話：0120-441-723<br>
                メールアドレス：△△@△△.co.jp<br>
                ———————————————————————`

        }).then(
            message=>{
                //alert(message);
            }
        );
    });
</script>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
